/node_modules/**
uni_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-workspace.yaml
**/*.svg
**/*.sh
**/*.yaml
src/pages.json
src/manifest.json
src/types/auto-import.d.ts
src/types/components.d.ts
src/types/uni-pages.d.ts
src/types/async-import.d.ts
src/types/async-component.d.ts

# 构建输出
/dist/*
/public/*
build
coverage
*.min.js
*.min.css
.local
.output.js


# 日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境配置
.env
.env.local
.env.*.local


# IDE
.vscode
.idea
*.swp
*.swo
*~

# 其他
.DS_Store
Thumbs.db
*.md
.github/**
