VITE_APP_TITLE=uniapp-template-cli
VITE_APP_PORT=9000
VITE_USER_NODE_ENV=development

VITE_UNI_APPID=
VITE_WX_APPID=

VITE_FALLBACK_LOCALE=zh-Hans

# h5 部署网站的 base，会进入 manifest.config.ts 的 h5.router.base
VITE_APP_PUBLIC_BASE=/

# 后台请求地址
VITE_SERVER_BASEURL=https://example.com

# 可选请求头标识，存在时 src/http/interceptor.ts 会注入 AppKey
VITE_APP_KEY=

# H5 是否启用本地代理
VITE_APP_PROXY_ENABLE=false
VITE_APP_PROXY_PREFIX=/api

# 模式文件通常会覆盖下面这些值
NODE_ENV=development
VITE_DELETE_CONSOLE=false
VITE_SHOW_SOURCEMAP=true
